@using HeroisDoCancer.ViewModels;

@model PesquisaEventoViewModel

@{
    ViewBag.Title = "Heróis do câncer";
}

<link href="~/Content/buttonsocial.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/teste.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' />

<div class="living_middle" style="padding: 1em 0;">
    <div class="container">

        @*MODAIS*@
        @Html.Partial("_CriarEvento")
        @Html.Partial("_VisualizarEvento")

        @*MENSAGEM DE SUCESSO, AO PARTICIPAR DE UM EVENTO*@
        <div class="alert alert-success" id="alertSucessoParticipar" style="display:none">
            Você foi incluido no evento com sucesso.
        </div>

        <div class="page-header">
            <h1 id="timeline" style="text-align:center">EVENTOS - ABRIL/2015</h1>
        </div>

        @*FILTRO*@
        @Html.Partial("_FiltroEvento")

        @*data-toggle="modal" data-target=".visualizar-evento-modal"*@
        <ul class="timeline">
            @foreach (var evento in Model.Eventos)
            {
                @Html.Partial("_Item", Model.CriarInstancia(evento))
            }
        </ul>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        setTimeout(function () {

            $("#menuHome").removeClass("active");
            $("#menuSejaVoluntario").removeClass("active");
            $("#menuEventos").removeClass("active");
            $("#menuFotos").removeClass("active");
            $("#menuContato").removeClass("active");

            $("#menuEventos").addClass("active");

            $(".timeline > li:odd").addClass("timeline-inverted");

            $(".evento .btn.participar").click(function (ev) {
                var button = $(this);
                var tag = button.parents(".evento");
                var idEvento = parseInt(tag.attr("data-id"), 10);
                participarEvento(tag, button, idEvento);
            });
        }, 200);

        function depoisUsuarioLogadoSucesso() {
            window.location = window.location;
        }

        function depoisUsuarioDeslogar() {
            window.location = window.location;
        }

        function participarEvento(evento, button, id) {
            button.attr("disabled", "disabled");
            var btnText = button.find("span:last");
            btnText.text("Aguarde...");

            var url = "@Url.Action("Participar")";
            $.post(url, { idEvento: id }, function (res) {
                button.removeAttr("disabled");
                btnText.text("Participar");

                if (!res.Erro) {
                    evento.find(".vagas .numero").text(res.Data.TotalParticipantesRestantes);
                    button.remove();
                }
                else {
                    alert(res.Mensagem);
                }
            });
        }
    </script>
}