<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <div class="col-sm-8 header-left">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/logos.png" alt="" /></a>
            </div>
            <div class="menu">
                <a class="toggleMenu" href="#"><img src="~/Content/images/nav.png" alt="" /></a>
                <ul class="nav" id="nav">
                    <li id="menuHome" class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="menuSejaVoluntario">@Html.ActionLink("Seja um Voluntário", "Index", "SejaVoluntario")</li>
                    <li id="menuEventos">@Html.ActionLink("Eventos", "Index", "Evento")</li>
                    <li id="menuFotos">@Html.ActionLink("Fotos", "Index", "Galeria")</li>
                    <li id="menuContato">@Html.ActionLink("Contatos", "Index", "Contato")</li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <!-- start search-->
            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
                </div>
            </div>
            <!----search-scripts---->
            <script>
                //new UISearch(document.getElementById('sb-search'));
            </script>
            <!----//search-scripts---->
            <div class="clearfix"></div>
        </div>
        <!--login-->
        @Html.Action("ModalLogin", "Home")
        <div class="clearfix"></div>
    </div>


    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="footer_top">
                <h3>Assine nossa newsletter</h3>
                <form>
                    <span>
                        <i><img src="~/Content/images/mail.png" alt=""></i>
                        <input type="text" value="Informe o seu email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Informe o seu email';}">
                        <label class="btn1 btn2 btn-2 btn-2g"> <input name="submit" type="submit" id="submit" value="Assinar"> </label>
                        <div class="clearfix"> </div>
                    </span>
                </form>
            </div>
            <div class="footer_grids">
                <div class="footer-grid">
                    <h4>Inicial</h4>
                    <ul class="list1">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Fotos", "Index", "Galeria")</li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h4>Voluntário</h4>
                    <ul class="list1">
                        <li>@Html.ActionLink("Seja um Voluntário", "Index", "SejaVoluntario")</li>
                        <li>@Html.ActionLink("Eventos", "Index", "Evento")</li>
                        <li>@Html.ActionLink("Contato", "Index", "Home")</li>

                    </ul>
                </div>
                <div class="footer-grid last_grid">
                    <h4>Redes Sociais</h4>
                    <ul class="footer_social wow fadeInLeft" data-wow-delay="0.4s">
                        <li><a href=""> <i class="fb"> </i> </a></li>
                        <li><a href=""><i class="tw"> </i> </a></li>
                        <li><a href=""><i class="google"> </i> </a></li>
                        <li><a href=""><i class="u_tube"> </i> </a></li>
                    </ul>

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerymin")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/outhers")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.swipebox.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".swipebox").swipebox();
            new WOW().init();
        });
    </script>

</body>
</html>